{{ define "main" }}

<h1>Tardigrado's World</h1>

<h2>Who Am I?</h2>
<p>Hey Hey! 🖖</p>
<p>My name is <code>Gonçalo Teixeira</code>, also known around the corners of the web as <strong><code>Tardigrado</code></strong>.
I currently study <code>Computer Science</code> at Universidade do Porto.</p>

<p>Some of my interests are:</p>
<ul>
    <li> 💻 Computer Science </li>
    <li> 🎵 Hip Hop</li>
    <li> 🪐 Sci-fi </li>
    <li> 📚 Competitive Debate </li>
</ul>

<br><br>

<h2>Most Recent Posts</h2>

<div>
    {{ range ( .Site.RegularPages | first 3 ) }}
        {{ partial "post_card.html" .}}
    {{end}}
    
    <a href="/posts">See all posts</a>
</div>

{{ end }}