* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: var(--bg-dark);
    color: var(--text);

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: sans-serif;
}


main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 20vh;
}


.nav-btn {
    border-radius: 50px;
    height: 0.85rem;
    width: 0.85rem;
    margin-left: 1rem;
}

.nav-btn:hover {
    background-color: var(--bg-dark);
    transition: 0.2s ease-in-out;
}

footer {
    width: 90%;
    max-width: 1500px;
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translate(-50%, 0);
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6,
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    color: var(--primary) !important;
    text-transform: capitalize;
}

h1::before { content: "# "; }
h2::before { content: "## "; }
h3::before { content: "### "; }
h4::before { content: "#### "; }
h5::before { content: "##### "; }
h6::before { content: "###### "; }

img {
    display: block;
    max-width: 90%;
    max-height: 10rem;
    margin: 2rem auto;
}

blockquote, pre {
    background-color: var(--bg-light) !important ;
    padding: 1rem;
    margin: 4rem auto;
    border-left: 0.5rem solid var(--primary);
}

pre code {
    font-weight: bold ;
    font-size: 1.2em !important;
    text-shadow: 1px 2px 2px rgb(0, 0, 0, 0.1) !important;
    border-radius: none !important;
}

hr {
    border-top: 2px solid var(--primary);
    opacity: 0.5;
    margin: 2rem auto;
}

code {
    color: var(--primary);
}



li::marker {
    color: var(--secondary);
}


.post {
    margin: 2rem auto;
}

.tag, time {
    margin-right: 1rem;
}


.icon {
    color: var(--text);
}

.icon:hover {
    color: var(--secondary);
    text-decoration: none;
    transition: 0.2s ease-in-out;;
}