{{ define "main" }}
<div>
  NAME
  <div style="padding-left: 2rem;">{{.Site.Title}} </div>
  <br>
  
  DESCRIPTION 
  <div style="padding-left: 2rem;"> {{.Site.Params.desc}} </div>
  <br>
  
   
  LANG
  <div style="padding-left: 2rem;"> 
    {{range .Site.Params.lang }} {{ . }} {{ end }}
  </div>
  <br>

  POSTS 
  <div style="padding-left:2rem">
    {{ range where site.RegularPages "Section" "posts" }}
    <li><a href="{{.RelPermalink}}">{{.Title | strings.ToLower}}</a></li>
    {{ end }}
  </div>

  <br>
</div>

{{ end }}

