:root {
  --night-1: #2e3440;
  --night-2: #3b4252;
  --night-3: #434c5e;
  --night-4: #4c566a;

  --snow-1: #d8dee9;
  --snow-2: #e5e9f0;
  --snow-3: #eceff4;

  --frost-1: #8fbcbb;
  --frost-2: #88c0d0;
  --frost-3: #81a1c1;
  --frost-4: #5e81ac;

  --aurora-r: #bf616a;
  --aurora-o: #d08770;
  --aurora-y: #ebcb8b;
  --aurora-g: #a3be8c;
  --aurora-p: #b48ead;
}

body {
	background-color: var(--night-1);
	height: 100vh;
	margin: 0;
	padding: 2rem;
	color: var(--snow-1);
	font: 1rem Inconsolata, monospace;
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 99vw;
	height: 100vh;
	background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
	pointer-events: none;
  background-attachment: fixed;
}

::selection {
	background: var(--night-2);
	text-shadow: none;
}

.container {
  width: 100%;
	margin: auto;
}

nav { text-align: center; }

a {
	color: var(--frost-3);
  text-decoration: none;
}

ul, ol { padding-left: 0px; }

li { list-style: none; }

li::before { content: "* " }

pre {
  overflow: auto;
  padding: 1rem;
  background: var(--night-2);
}

img {
  width: 100%;
  border-radius: 1rem;
}

table {
	width:100%;
	border:1px solid var(--aurora-g);
  border-collapse: collapse;
}

thead {
	display:flex;
	width:100%;
	background: var(--night-2);
}

tr {
	display:flex;
	width:100%;
}

td, th {
	flex: 1 1 20%;
	text-align:center;
  border: 1px solid var(--aurora-g);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

hr {
  border: 1px solid var(--aurora-g);
  margin: 2rem 0;
}
